<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
</style>
<body> 
    <h1> <%= data.name %> </h1>
    <h1><%= data.email %></h1>
    <h1><%= data.mobile %></h1>
    <h1><%= data.date %></h1>
    <h1><%= data.time %></h1>
    <h1><%= data.problem %></h1>
</body>
<script>
    // You can pass server-side data to your client-side JavaScript like this:
    const serverData =  JSON.stringify(data) ;
    console.log(serverData);

    // Example of using serverData
    const obj = JSON.stringify(serverData, null, 2);
    console.log(obj);
</script>
</html> -->
